%h1 Listing pages

= link_to 'New page', new_page_path, :class => 'btn-primary btn pull-right'

%br
%br

= paginate @pages

%table.table.table-bordered.table-striped#sortable{:data => {update_url: sort_pages_path}}
  %thead
    %tr
      %th page
      %th &nbsp

  %tbody
    - @pages.each do |page|
      %tr{data: {item_id: "#{page.id}"}, class: 'item'}
        %td= page.title
        %td
          = link_to 'View', page_path(page), :class => 'btn'
          = link_to 'Edit', edit_page_path(page), :class => 'btn btn-primary'
          = link_to 'Delete', page_path(page), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger'

= paginate @pages

